* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "reg";
  outline: none;
  box-sizing: border-box;
  border: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1E1E1E;
}

.container {
  width: 1020px;
  height: 731px;
}
.container .block-down {
  width: 100%;
  display: grid;
  grid-template-areas: "A A B C C3" "A A D D E";
  grid-gap: 20px;
}
.container .block-down .box-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  grid-area: A;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  grid-auto-rows: auto;
}
.container .block-down .box-1 .text {
  display: flex;
  flex-direction: column;
  width: 260px;
  gap: 50px;
}
.container .block-down .box-1 .text h3 {
  font-size: 20px;
  font-style: initial;
}
.container .block-down .box-1 .text .block-name {
  display: flex;
  gap: 15px;
}
.container .block-down .box-1 .text .block-name .block-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container .block-down .box-1 .text .block-name .block-text h5 {
  font-size: 17px;
}
.container .block-down .box-1 .text .block-name .block-text p {
  font-size: 15px;
}
.container .block-down .box-1 .text .block-name img {
  width: 41px;
  height: 41px;
}
.container .block-down .box-1 img {
  border-radius: 10px;
}
.container .block-down .box-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  grid-area: B;
  border-radius: 20px;
  padding: 20px;
}
.container .block-down .box-2 .no-site {
  width: -moz-fit-content;
  width: fit-content;
  background: #1E1E1E;
  padding: 5px 6px;
  border-radius: 5px;
}
.container .block-down .box-2 .no-site p {
  font-size: 15px;
  color: white;
}
.container .block-down .box-2 .text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.container .block-down .box-2 .text h4 {
  font-size: 16px;
}
.container .block-down .box-2 .text h5 {
  font-size: 16px;
}
.container .block-down .box-2 .dontate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .block-down .box-2 .dontate .donate {
  display: flex;
  gap: 10px;
}
.container .block-down .box-2 .dontate .donate h5 {
  font-size: 12px;
}
.container .block-down .box-2 .dontate .telegram {
  display: flex;
  gap: 10px;
}
.container .block-down .box-2 .dontate .telegram h5 {
  font-size: 12px;
}
.container .block-down .box-2 .turn {
  display: flex;
  gap: 10px;
}
.container .block-down .box-2 .turn h5 {
  font-size: 12px;
}
.container .block-down .box-3 {
  height: 100%;
  display: flex;
  background: white;
  grid-area: C;
  gap: 20px;
  border-radius: 20px;
  padding: 20px;
}
.container .block-down .box-3 img {
  border-radius: 10px;
}
.container .block-down .box-3 .block-text {
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  display: flex;
}
.container .block-down .box-3 .block-text * {
  display: flex;
}
.container .block-down .box-3 .block-text .text {
  flex-direction: column;
  gap: 5px;
}
.container .block-down .box-3 .block-text .text h3 {
  font-size: 22px;
}
.container .block-down .box-3 .block-text .text p {
  font-size: 16px;
  color: #747474;
}
.container .block-down .box-3 .block-text .block {
  gap: 30px;
  background: #F2F5F8;
  padding: 10px;
  border-radius: 10px;
}
.container .block-down .box-3 .block-text .block p {
  font-size: 16px;
  color: #747474;
}
.container .block-down .box-3 .block-text .block h3 {
  font-size: 22px;
}
.container .block-down .box-3 .block-text .block .art {
  flex-direction: column;
  gap: 10px;
}
.container .block-down .box-3 .block-text .block .fol {
  flex-direction: column;
  gap: 10px;
}
.container .block-down .box-3 .block-text .block .rat {
  flex-direction: column;
  gap: 10px;
}
.container .block-down .box-3 .block-text .buton {
  justify-content: space-between;
}
.container .block-down .box-3 .block-text .buton .button1 {
  padding: 10px 32px;
  background: white;
  font-size: 16px;
  border-radius: 10px;
  border-color: #1E1E1E;
}
.container .block-down .box-3 .block-text .buton .button2 {
  padding: 10px 32px;
  background: #0085FF;
  font-size: 16px;
  border-radius: 10px;
  color: #F2F5F8;
}
.container .block-down .box-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  grid-area: D;
  border-radius: 20px;
  padding: 20px;
  justify-content: space-between;
}
.container .block-down .box-4 .seatch {
  display: flex;
  gap: 6px;
  padding: 10px;
  border-radius: 10px;
  background: #F2F5F8;
  align-items: center;
}
.container .block-down .box-4 .seatch button {
  background: transparent;
  cursor: pointer;
}
.container .block-down .box-4 .seatch .search {
  background: transparent;
  font-size: 16px;
  align-items: center;
}
.container .block-down .box-4 .text-hesh {
  display: flex;
  justify-content: space-between;
}
.container .block-down .box-5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  grid-area: E;
  border-radius: 20px;
  padding: 20px 70px;
}
.container .block-down .box-5 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .block-down .box-5 .text h3 {
  width: -moz-fit-content;
  width: fit-content;
  color: #0085FF;
  font-size: 33px;
}
.container .block-down .box-5 .text h4 {
  font-size: 22px;
}

@font-face {
  font-family: reg;
  src: url(../fonts/SFProDisplay-Regular.ttf);
}/*# sourceMappingURL=style.css.map */